


<h3 class="panel-sub-heading">&nbsp;</h3>
<p>1. Please watch the entire video. <br /> 2. It contains important information regarding the rules of the game.<br /> 3. You will answer questions that assess your understanding on the next page. <br /> 4. After you watch the video in full, the next button will appear (in <span id="countdowntimer">___&nbsp;</span>seconds).</p>
<hr /><center></center>
<h3 style="text-align: center;"><strong>INSERT VIDEO INSTRUCTION HERE&nbsp;</strong></h3>
<center></center>
<p>&nbsp;</p>
<hr />

<div class="card bg-light">
    <div class="card-body">



<p><em><span style="color: #ff0000;">FX's comments:&nbsp;</span></em></p>
<p><em><span style="color: #ff0000;">1. We can let participants watch video instructions followed by several comprehension checks.</span></em></p>
<p><em><span style="color: #ff0000;">2. To ensure attention, I can setup constraints here such that they cannot proceed to the next page before the video is over.</span></em></p>


    </div>
</div>

