{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h4 style="text-align: center;"><strong>Waiting for leader to punish...</strong></h4>
{% endblock %}

{% block content %}


<center><img src="https://cdn.dribbble.com/users/107759/screenshots/2436386/copper-loader.gif" alt="" /></center><center></center><center></center><center><em><span style="color: #ff0000;">[FX'S Comments: This page is fake. No leaders in actuality. <br/>The purpose is to lead participants to believe that they are playing with a real leader. <br/>So we will put a stopper here and let them wait for 30 seconds - 1 minutes.] <br/>The page will automatically proceed after 45 seconds in this demo</span></em></center>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}