{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<hr/>
    <h2 style="text-align: center;"><strong>Important reminders</strong></h2>
<hr/>
{% endblock %}

{% block content %}
<h5>1. Throughout this study, some rounds will be relevant for your payment, others will not.<br/>
    2. Therefore, it is at your best interest to play each round as if it matters for your payment.<br/>
    3. Every 100 points will earn you $0.50. </h5>

<hr/>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">I understand</button>



{% endblock %}



